.addLocation {
    cursor: pointer;
}
.remove_location {
    float: right;
    margin-top: -19px;
    cursor: pointer;
}
#multi-location-listing-contact-map {
    width: 100%;
    max-width: 100%;
    position: relative;
    height: 235px;
}
.multi-location, 
.map-widget-section {
    margin-bottom: 0;
    padding-bottom: 0;
}
.map-widget-section .job_listing-directions {
    margin-top: 0;
    margin-bottom: 1em;
}
.geo-tag input {
    width: 100%;
}